<h1 class="title">Python Tips<br>#2 Group Multilevel Data</h1>
<br>
<center>Michael Siebel</center>
<br>

In [1]:
# Remove warnings
import warnings
warnings.filterwarnings('ignore')

%run ../HTML_Functions.ipynb

Let's say you have data on individuals such as personal income, and want to use that data to create an average at a higher level such as a State average of personal income. For Python, you would group the variables using the Pandas function groupby() and calculate the new values using the Pandas function transform().

# Fake Data

In [4]:
import pandas as pd

df = pd.DataFrame({'state': ["Maryland", "Maryland", "Virginia", "Virginia"],
                   'income': [70000, 50000, 40000, 60000]})
df

      state  income
0  Maryland   70000
1  Maryland   50000
2  Virginia   40000
3  Virginia   60000

# In Stata

This is similar to bysort and egen total commands in Stata.
In Stata, the code would be:

In [ ]:
# bysort state: egen state_pincome = mean(income)

# In Python

In Python, the code would be:

In [5]:
df['state_pincome'] = df.groupby(['state'])['income'].transform('mean')
df

      state  income  state_pincome
0  Maryland   70000        60000.0
1  Maryland   50000        60000.0
2  Virginia   40000        50000.0
3  Virginia   60000        50000.0

df is the dataset.  The groupby() groups the dataset.  ['income'] specifies that the variable used in the calculation is income.  The transform() uses 'mean' to specify that we are transforming on mean(). 

You can create your own function and pass this to transform if you wanted to make a multi-step calculation:

In [7]:
def myFunc(col):
    col = col.mean()
    col = "$" + str(col)
    return col

df['state_pincome'] = df.groupby(['state'])['income'].transform(myFunc)
df

      state  income state_pincome
0  Maryland   70000      $60000.0
1  Maryland   50000      $60000.0
2  Virginia   40000      $50000.0
3  Virginia   60000      $50000.0

# Save Log

In [ ]:
from IPython.display import display, Javascript

display(Javascript(
    "document.body.dispatchEvent("
    "new KeyboardEvent('keydown', {key:'s', keyCode: 83, ctrlKey: true}"
    "))"
))

!jupyter nbconvert --to html_toc "Tip2_Grouping_Multilevel_Data.ipynb"  --ExtractOutputPreprocessor.enabled=False --CSSHTMLHeaderPreprocessor.style=stata-dark